<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Elgentos\PrismicIO\Block\Dom\Image">
        <plugin name="elgentos_imgproxy_prismic_support_transform_url"
                type="Elgentos\ImgproxyPrismicSupport\Plugin\PrismicImageUrlTransformer"
                sortOrder="10"/>
    </type>
</config>
